node_modules
yarn.lock
lib
.vscode
coverage
.npmrc
json-schema
.DS_Store
icon.png
.eslintcache

acceptance-tests/**/*config.yml
acceptance-tests/**/responses
acceptance-tests/**/types.ts
acceptance-tests/**/json-schemas
acceptance-tests/**/tsconfig.tsbuildinfo
acceptance-tests/**/out
