node_modules
yarn.lock
dist
.vscode
coverage
.npmrc
json-schema
.DS_Store
icon.png
.eslintcache
acceptance-tests/books-fixture/config.yml
acceptance-tests/books-fixture/responses
acceptance-tests/books-fixture/types.ts
