{
  "reporter": [
    "lcov",
    "text",
    "text-summary"
  ],
  "include": [
    "src/**/*"
  ],
  "exclude": [
    "src/test-helpers.ts",
    "src/metrics.ts",
    "src/api/**/*.ts",
    "**/*.spec.ts",
    "**/*.d.ts",
    "**/types.ts",
    "**/jest-extensions.ts",
    "**/builders.ts",
    "**/*builders.ts",
    "**/*builder.ts"
  ]
}
