{
  "reporter": [
    "lcov",
    "text",
    "text-summary"
  ],
  "include": [
    "src/**/*"
  ],
  "exclude": [
    "src/test-helpers.ts",
    "**/*.spec.ts",
    "**/*.d.ts",
    "**/types.ts"
  ],
  "tempDirectory": "./coverage"
}
