version: "3.7"
services:
  lint:
    build: .
    command: yarn lint

  typecheck:
    build: .
    command: yarn typecheck

  unit-tests:
    build: .
    command: yarn test:unit --coverage
    volumes:
      - ./coverage/unit-tests:/usr/src/app/coverage/unit-tests

  integration-tests:
    build: .
    command: yarn test:integration --coverage
    volumes:
      - ./coverage/integration-tests:/usr/src/app/coverage/integration-tests

  acceptance-tests:
    build: .
    command: npx nyc --report-dir ./coverage/acceptance-tests yarn test:acceptance --coverage
    volumes:
      - ./coverage/acceptance-tests:/usr/src/app/coverage/acceptance-tests

  release:
    build: .
    environment:
      - GITHUB_TOKEN
      - NPM_TOKEN
    command: npx semantic-release
