version: "3.7"
services:
  lint:
    build:
      context: .
      target: install
    command: yarn lint

  typecheck:
    build:
      context: .
      target: install
    command: yarn typecheck

  unit-tests:
    build:
      context: .
      target: install
    command: yarn test:unit --coverage
    volumes:
      - ./coverage/unit-tests:/usr/src/app/coverage/unit-tests

  integration-tests:
    build:
      context: .
      target: install
    command: yarn test:integration --coverage
    volumes:
      - ./coverage/integration-tests:/usr/src/app/coverage/integration-tests

  acceptance-tests:
    build:
      context: .
      target: acceptance-tests
    command: ./node_modules/.bin/nyc --report-dir ./coverage/acceptance-tests yarn test:acceptance --coverage
    volumes:
      - ./coverage/acceptance-tests:/usr/src/app/coverage/acceptance-tests

  pre-release-tests:
    build:
      context: .
      target: pre-release-tests
    command: npm run test
    environment:
      - NCDC_ENTRYPOINT=./node_modules/.bin/ncdc

  release:
    build:
      context: .
      target: compile
    environment:
      - GITHUB_TOKEN
      - NPM_TOKEN
    command: npx semantic-release --no-ci
